html {
    font-family: sans-serif;
    background-color: antiquewhite
}

#header {
    text-align: center;
}

button {
    font-size: 15px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #0064ff;
}

#number {
    width: 50px; /*to hold the placeholder*/
}

.container {
    display: flex;
    flex-direction: column;
}

#additional {
    height: 100px;
    width: 200px;
    word-wrap;
}
